<div *ngIf = "comparaison" class = "row"> <!-- On verifie que on a trouver une comparaison -->


<div class="col s12 m8 offert-m2">
<h2 class="header center">{{comparaison.Titre}}</h2>


<div class = "row">
<h3 class="col s6">{{comparaison.Contenu1}} <p><button> VOTER </button> </h3>
<h3 class="col s6">{{comparaison.Contenu2}} <p> <button> VOTER </button> </h3>
</div>

<a (click) = 'goEdit(comparaison)'> Editer </a>




</div>
</div>

<div *ngIf = "!comparaison" class = "row"> Erreur, il n'existe aucune comparaison avec cet ID. </div>