

<!-- <h1 class = "center"> Comparaison </h1>
<div class = "container">
<div class = "row">

<div *ngFor = "let comp of comparaisons">
    <div class = "card horizontal" (click)="selectComparaison(comp)" compBorderCard = "red">
    <div class = "card-content">
    <h3>{{ comp.Titre }}</h3>
    
    <div class = "row">
    <div class="col s6">
    {{ comp.Contenu1 | uppercase }} 
    </div>
    <div class="col s6">
    {{ comp.Contenu2 }}
    </div>
    <span class="{{ comp.Type[0] | comparaisonTypeColor }}" > {{ comp.Type }}</span>
    </div>


</div>
</div>
</div>
</div>
</div> -->

<!-- https://www.youtube.com/watch?v=squNvpoaRH4 -->
<!DOCTYPE html>
<html lang="en">



<!-- <h1 class = "center"> Comparaison </h1> -->
<body>
<!-- <div class = "container">
    <div class = "wrapper">
        <section class = "post">
            <div *ngFor = "let comp of comparaisons">
                <div class = "boxclick" (click)="selectComparaison(comp)" compBorderCard = "blue">
                    <header>{{ comp.Titre }}</header>
                    <div class="content">
                        <img src="icons/logo.png" alt="logo">
                        <div class="details"><p>{{ comp.id_User }}</p></div>
                    </div>
                    <div class="comp-container">
                        <div class="img-container" style="width: 100%;"><p>{{comp.Contenu1}}</p></div>
                        <div class="img-container" style="width: 100%;"><p>{{comp.Contenu2}}</p></div>
                    </div>
                    <div class="options">
                        <p>{{comp.Description}}</p>
                        <ul class="list">
                            <li><img src="icons/gallery.svg" alt="gallery"></li>
                            <li><img src="icons/tag.svg" alt="gallery"></li>
                            <li><img src="icons/emoji.svg" alt="gallery"></li>
                            <li><img src="icons/mic.svg" alt="gallery"></li>
                            <li><img src="icons/more.svg" alt="gallery"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div> -->


<!-- https://dev.to/kunaal438/how-to-make-instagram-clone-using-html-css-fully-responsive-49co -->

<!-- <nav class="navbar">
    <div class="nav-wrapper">
        <img src="icons/logo.png" class="brand-img" width="50" alt="">
        <input type="text" class="search-box" placeholder="search">
        <div class="nav-items">
            <img src="img/home.PNG" class="icon" alt="">
            <img src="img/messenger.PNG" class="icon" alt="">
            <img src="img/add.PNG" class="icon" alt="">
            <img src="img/explore.PNG" class="icon" alt="">
            <img src="img/like.PNG" class="icon" alt="">
            <div class="icon user-profile"></div>
        </div>
    </div>
</nav> -->

<section class="main">
    <div class="wrapper"> 
        <div class="left-col">
            <div class="status-wrapper">
                <div class="status-card">
                    <div class="profile-pic"><img src="img/cover 1.png" alt=""></div>
                    <p class="username">user_name_1</p>
                </div>
                <div class="status-card">
                    <div class="profile-pic"><img src="img/cover 2.png" alt=""></div>
                    <p class="username">user_name_2</p>
                </div>
                <div class="status-card">
                    <div class="profile-pic"><img src="img/cover 3.png" alt=""></div>
                    <p class="username">user_name_3</p>
                </div>
            </div>
            <div *ngFor = "let comp of comparaisons">
                <div class="post">
                    <div class="info">
                        <div class="user">
                            <div class="profile-pic"><img src="img/cover 1.png" alt=""></div>
                            <p class="username" (click)="selectComparaison(comp)">Titre de la compa: {{ comp.Titre }}</p>
                        </div>
                        <img src="img/option.PNG" class="options" alt="">
                    </div>
                    <!-- <img src="img/cover 1.png" class="post-image" alt="">
                    <img src="img/cover 2.png" class="post-image" alt=""> -->
                    <div class="comp-container">
                        <div class="img-container" style="width: 100%;"><p>{{comp.Contenu1}}</p></div>
                        <div class="img-container" style="width: 100%;"><p>{{comp.Contenu2}}</p></div>
                    </div>
                    <div class="post-content">
                        <div class="reaction-wrapper">
                            <img src="img/like.PNG" class="icon" alt="">
                            <img src="img/comment.PNG" class="icon" alt="">
                            <img src="img/send.PNG" class="icon" alt="">
                            <img src="img/save.PNG" class="save icon" alt="">
                        </div>
                        <p class="likes">1,012 likes</p>
                        <p class="description"><span>username {{comp.id_User}}</span> {{comp.Description}} DLorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur tenetur veritatis placeat, molestiae impedit aut provident eum quo natus molestias?</p>
                        <p class="post-time">Date du post : {{comp.Date}}</p>
                    </div>
                    <div class="comment-wrapper">
                        <img src="img/smile.PNG" class="icon" alt="">
                        <input type="text" class="comment-box" placeholder="Add a comment">
                        <button class="comment-btn">post</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="right-col">
            <div class="profile-card">
                <div class="profile-pic">
                    <img src="img/profile-pic.png" alt="">
                </div>
                <div>
                    <p class="username">modern_web_channel</p>
                    <p class="sub-text">kunaal kumar</p>
                </div>
                <button class="action-btn">switch</button>
            </div>
            <p class="suggestion-text">Suggestions for you</p>
            <div class="profile-card">
                <div class="profile-pic">
                    <img src="img/cover 9.png" alt="">
                </div>
                <div>
                    <p class="username">modern_web_channel</p>
                    <p class="sub-text">followed bu user</p>
                </div>
                <button class="action-btn">follow</button>
            </div>
            <div class="profile-card">
                <div class="profile-pic">
                    <img src="img/cover 10.png" alt="">
                </div>
                <div>
                    <p class="username">modern_web_channel</p>
                    <p class="sub-text">followed bu user</p>
                </div>
                <button class="action-btn">follow</button>
            </div>
            <div class="profile-card">
                <div class="profile-pic">
                    <img src="img/cover 11.png" alt="">
                </div>
                <div>
                    <p class="username">modern_web_channel</p>
                    <p class="sub-text">followed bu user</p>
                </div>
                <button class="action-btn">follow</button>
            </div>
            <div class="profile-card">
                <div class="profile-pic">
                    <img src="img/cover 12.png" alt="">
                </div>
                <div>
                    <p class="username">modern_web_channel</p>
                    <p class="sub-text">followed bu user</p>
                </div>
                <button class="action-btn">follow</button>
            </div>
            <div class="profile-card">
                <div class="profile-pic">
                    <img src="img/cover 13.png" alt="">
                </div>
                <div>
                    <p class="username">modern_web_channel</p>
                    <p class="sub-text">followed bu user</p>
                </div>
                <button class="action-btn">follow</button>
            </div>
        </div>
    </div>
</section>







</body>